@charset "UTF-8";
/* CSS Document */



body {
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	width:90%;
	
}

#header {
	font-size: 2em;
	margin-left: 2.5em;
	margin-top: .5em;
	margin-bottom: .1em;
	font-family:"American Typewriter","Courier New";
}

#sideMenu {
	font-size:16px;
	float:left;
	margin-left: .75em;
	margin-top: .05em;
	margin-right: .5em;
	line-height: 1.8em;
	list-style:none;
	cursor:pointer;
	width:175px;
	
}

#contentDiv {
	background:#000;
	float:left;	
	margin-left: 2.5em;
	
	width: 800px;
	height: 550px;
	margin-bottom: 4em;
	
}

#table1 {
	margin: 1em;
	position:relative;
	width:95%;

	
}
.menuHeadSelected {
	color: red;
	cursor:pointer;
}
.subItemSelected {
	color: red;
	cursor:pointer;
}

.subMenu, .subMenuSelected {
	font-size:.8em;
	margin-left: -2em;
	list-style:none;
	line-height:2em;
	margin-right:0;
	list-style:none;
	cursor:pointer;	
}

.subMenuSelected {
	display:block;
	cursor:pointer;	
	
}
